.body-class {
    background-color: #E6E6E6;
}

nav a {
    font-size: .75em;
    color: black;
}

.nav-background {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 59px;
    width: 100%;
    top: 37px;
    z-index: -1000;
}

nav .nav-item {
    position: relative;
    bottom: 6px;
}

h1, h2 {
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}

.h2-FS {
    font-size: 27px;
}

#red{
    background-color: #e6563b;


}
#orange{
    background-color: #dea03d;
}
#green{
    background-color: #7cb06c;
}

#blue {
    background-color: #00aba9;
}
.circle{
  border-radius: 75px 75px;
    height :105px;
    width : 105px;
    border: white 6px solid;
}
.circle-text {
    color: white;
    font-weight: bold;
}

